In [92]:
#Para este carregamento de dados usarei as 4 bibliotecas abaixo

import sqlite3
import pyarrow as pa
import pyarrow.parquet as pq
import pandas as pd
import numpy as np

In [93]:
#Usei a biblioteca sqlite3 para conectar direto com o arquivo do banco

cnx = sqlite3.connect('formula-1.db')

In [99]:
tabelas_lista = ["circuito", "corrida", "equipe", "historico_equipe", "historico_piloto", "piloto", "resultado",
          "sqlite_sequence", "status", "tempo_por_parada", "tempo_por_volta", "temporada", "treino_oficial"]

#Criei o dataframe de cada uma das tabelas usando um loop sobre tabelas_lista + leitura de query do Pandas

select_template = "SELECT * FROM {tabela_nome}"

for tname in tabelas_lista:
    print (tname + ' is done')
    query = select_template.format(tabela_nome = tname)
    df_tname = pd.read_sql(query, cnx)
    
    #Algumas colunas dos DFs tiveram problemas de tipagem ao serem lidas
    #Verifiquei e a causa foi que algumas linhas tinham int e outras, str (em uma mesma coluna)
    #Precisei compatilizar os tipos usando dtypes do numpy
    
    column_types = df_tname.dtypes
    object_columns = column_types[column_types == pd.np.object]
    object_columns_names = object_columns.index
    df_tname[object_columns_names] = df_tname[object_columns_names].astype(str)
    
    #Por fim, a geração dos arquivos.parquet
    df_tname.to_parquet(tname +'.parquet')

circuito is done
corrida is done
equipe is done
historico_equipe is done
historico_piloto is done
piloto is done
resultado is done
sqlite_sequence is done
status is done
tempo_por_parada is done
tempo_por_volta is done
temporada is done
treino_oficial is done

In [108]:
#Peguei uma tabela como amostra para testar se o parquet estava funcionando:

teste = pd.read_parquet('historico_equipe.parquet')
teste.head()

#Há um exemplo abaixo:

   id  corrida_id  equipe_id  pontuacao  posicao posicao_rotulo  vitorias
0   1          18          1       14.0        1              1         1
1   2          18          2        8.0        3              3         0
2   3          18          3        9.0        2              2         0
3   4          18          4        5.0        4              4         0
4   5          18          5        2.0        5              5         0